@import "/assets/styles/style.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.heading__container{
position: relative;
width: 100%;
height: 180px;
}
.heading__container .stack{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.stack__item1,.stack__item2,.stack__item3{
    padding: 0 20px;
    padding-top: 10px;
    margin-top: 30px;
    border: 1px solid transparent;
    border-radius: 7px;
    margin-bottom: -3px;
} 
.stack__item1:hover{
    background-color: #334E9E;
    color: white;
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 20px;
}
.stack__item2:hover{
    background-color: #334E9E;
    color: white;
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 20px;
}
.stack__item3:hover{
    background-color: #334E9E;
    color: white;
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 20px;
}
.stack--horizontal{
    background-color:#334E9E;
    color: black;
    height: 80px;
    width: 92%;
    margin-left: 60px;
    margin-top: 0px;
}
.stack--horizontal .hr-button{
    padding: 10px 15px 11px 15px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    background-color: white;
    width: 165px;
    height: 45px;
    border-radius: 50px;
    margin-right: 40px;
    margin-top: 20px;
    text-align: start;
    border: 1px solid transparent;
    font-size: 16px;

}
.card__container{
    display: flex;
    justify-content: center;
}
.card1,.card2,.card3,.card4{
    margin-left: 30px;
}
.card__text{
    background-color: rgb(219, 212, 212);
    height: 60px;
}

.card__text > p{
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}
.card__figure{
    transition: all 2s ease;
    overflow: hidden;
}

.card__figure img{
    height: 370px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    transition: 0.5s ease;
}
 .card1:hover .card__figure img{
    transform: scale(1.1);
    cursor: pointer;
}
.card2:hover .card__figure img{
    transform: scale(1.1);
    cursor: pointer;
}
.card3:hover .card__figure img{
    transform: scale(1.1);
    cursor: pointer;
}
.card4:hover .card__figure img{
    transform: scale(1.1);
    cursor: pointer;
}

.card1:hover .card__text{
    background-color: #334E9E;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}
.card2:hover .card__text{
    background-color: #334E9E;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}
.card3:hover .card__text{
    background-color: #334E9E;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}
.card4:hover .card__text{
    background-color: #334E9E;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}
.card__icons1{
    height: 40px;
    position: absolute;
    margin-left: 0px;
    margin-top: 30px;
}
.card__icons2{
    height: 40px;
    position: absolute;
    margin-left: 90px;
    margin-top: 30px;
}
.card__icons3{
    height: 40px;
    position: absolute;
    margin-left: 70px;
    margin-top: 30px;
}
.card__icons4{
    height: 40px;
    position: absolute;
    margin-left: 50px;
    margin-top: 30px;
}
.sale1,.sale2,.sale3,.sale4{
    white-space: nowrap;
    position: absolute;
    background: rgba(0, 172, 236, 0.8);
    color: white;
    font-weight: 500;
    margin-left: 110px;
    height: 40px;
    width: 150px;
    padding-top: 5px;
    margin-top: 60px;
    text-align: center;
    z-index: 1;
}
.btn{
    background-color:#334E9E;
    color: white;
    font-weight: 600;
    border-color: transparent;
    position: absolute;
    margin-left: 40px;
    margin-top: 90px;
    border-radius: 50px;
    height: 50px;
    width: 150px;
}
.btn:hover{
    background-color: #4c76f4;
}
span{
    position: absolute;
    border-radius: 50%;
    background-color: red;
    color: white;
    height: 35px;
    padding-top: 7px;
    margin-top: 470px;
    margin-left: -50px;
}
footer {
    background-color: rgb(219, 212, 212);
}